# Python
__pycache__/
.pytest_cache/
*.py[cod]

# Database
*.db

# Environment
.env
.venv/
venv/

# Frontend
node_modules/
dist/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log

# OS files
.DS_Store